<html>

<head>
	<title>Professor Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/professorhome.css">
	
</head>

<body class="body">
	<div class="container-fluid" id="navbuttons">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8" align="center"></div>
			<div class="col-xs-2" id="logoutdiv">
				<img src='images/brownlogout.png' id="logout" onclick="logoutFunc()">
			</div>
		</div>
	</div>


	<div class="container">

		<h1>Welcome, Professor!</h1>
		<h2>My Appointments</h2>		
			
		{{#each allapt}}
		<div class="appointments" id="appt">
			<h4>{{date}} {{time}}</h4>
			Name: {{name}} <br>
			Email: {{email}}<br>
			Description: {{description}}<br>
			Type: {{type}}
		</div>
		{{/each}}

		<div class="cancel">
			<br>*Note: To cancel an appointment, send an email to the student*
		</div>
	</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/professorhome.js"></script>
		<script src="js/popup.js"></script>
	
	</body>

</html>