<html>

<head>
	<title>Professor Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/professorhome.css">
	
</head>

<body class="body">
	<div id="header">
		<div class="container-fluid" id="navbuttons">
			<div class="row">
				<div class="col-xs-10" align="left">
					<h2 id="greet">Welcome, Professor!</h2>
				</div>
				<div class="col-xs-2" id="logoutdiv">
					<span class="glyphicon glyphicon-off logouticon" aria-hidden="true" onclick="logoutFunc()"></span>
					<div id="logoutlabel">Logout</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container" id="upapt">		
		<h2>Upcoming Appointments</h2>		
			
		{{#each allapt}}
		<div class="container-fluid" id="appt">
			<div class="information">
				<h3>{{date}} {{time}}</h3>
				<div class="row">
					<div class="col-xs-6">
						<p>Name:</p>
						<hr>
						<p>Email:</p>
						<hr>
						<p>Appointment type:</p>
						<hr>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-12">
								<p>{{name}}</p>
								<hr>
								<p>{{email}}</p>
								<hr>
								<p>{{type}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p>Description:</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10" id="desc">
						<p>{{description}}</p>
					</div>
				</div>
			</div>
		</div>
		{{/each}}

		<div class="cancel">
			<br>*Note: To cancel an appointment, send an email to the student*
		</div>
	</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/professorhome.js"></script>
		<script src="js/popup.js"></script>
	
	</body>

</html>