<html>

<head>
	<title>Professor Home</title>
	<link rel="stylesheet" type="text/css" href="css/professorhome.css">

</head>

	<body class="body">

		<div class="greeting">

			<h1>Welcome, Professor!</h1>


		</div>

		<br>

		<div class="appointments">


			<h2>My Appointments</h2>
			
			{{#each allapt}}
				{{date}}
				{{time}}<br> 
				Name: {{name}} <br>
				Email: {{email}}<br>
				Description: {{description}}<br>
				Type: {{type}}
				<br><br>
			{{/each}}

			<!--added public/private to description-->

		</div>

		<div class="cancel">
			<br>*Note: To cancel an appointment, send an email to the student*
		</div>

		<br>
		
		<div class="button">
			<br>


			<button class="btn" id="logout" onclick="logoutFunc()">Log Out</button>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/professorhome.js"></script>
		<script src="js/popup.js"></script>
	
	</body>

</html>