<!doctype html>

<html>
<head>
	<title>Student Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/stu_homepage.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="js/stuFunc.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>

<body>
	<div id="header">
		<div class="container-fluid" id="navbuttons">
			<div class="row">
				<div class="col-xs-2">
					<img src='images/brownhome.png' id="home" onclick="homeFunc()">
				</div>
				<div class="col-xs-8" align="center">
					<button id="make" class="btn" onclick="makeFunc()">Make Appointments</button>
				</div>
				<div class="col-xs-2" id="logoutdiv">
					<span class="glyphicon glyphicon-off logouticon" aria-hidden="true" onclick="logoutFunc()"></span>
					<div id="logoutlabel">Logout</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="myapt">	
		<h2>My Appointments</h2>
		{{#if allapt}}
		{{#each allapt}}
		<div class="container-fluid" id="appt">
			<div class="information" id="information{{id}}">

				<h4>{{date}} {{time}}</h4>
				Professor: {{professor}}<br>
				Location: {{location}}<br>
				Appointment type: {{type}}<br>
				
				<h5 id="madeby{{id}}">Made by: {{name}}<h5>
				<script>
				var email = readCookie("email");
				if ("{{email}}" == email){
					document.getElementById("madeby{{id}}").innerHTML = "Made by: You";
				}
				</script>
				<br>
				<div id="apt-delete{{id}}" style="color: #A0522d;" align="right">
				<span class="glyphicon glyphicon-remove-circle delete" aria-hidden="true"></span>
				Cancel Appointment</div>
				<div id="drop{{id}}" style="color: #A0522d;" align="right">
				<span class="glyphicon glyphicon-remove-circle drop" aria-hidden="true"></span>
				Cancel Appointment</div>
				<!--<button type="button" class="delete" id="apt-delete{{id}}">Cancel appointment</button>
				//<button type="button" class="drop" id="drop{{id}}">Cancel appointment</button>-->
				<script>
				var length = 0;
				{{#each owner}}
					length++;
					console.log(length);
				{{/each}}
				
				if (length > 1){
					$('#apt-delete{{id}}').hide();
					$('#drop{{id}}').show();
					
				}
				else {
					$('#drop{{id}}').hide();
					$('#apt-delete{{id}}').show();
					
				}
				</script>
			</div>
		</div>	
		{{/each}}
		{{else}}
		<div id="empty">You have no active appointments.<p><br>Click on Make Appointments to join an already existing public appointment or create your own.</p></div>
		{{/if}}
	</div>

	<div id="popCancel" title="Confirm cancel">
		<p><font face="Georgia" size="4">Are you sure to cancel this appointment?</font></p>
		<button id="confirmCancel">Yes, cancel my appointment.</button>
		<button id="noCancel">No, thanks</button>
	</div>

	<div id="popDrop" title="Confirm cancel">
		<p><font face="Georgia" size="4">Are you sure to cancel this appointment?</font></p>
		<button id="confirmDrop">Yes, cancel my appointment.</button>
		<button id="noDrop">No, thanks</button>
	</div>
	
	<!--<script src="https://code.jquery.com/jquery.js"></script>-->
	
	<script src="js/popup.js"></script>
	<script src="js/stu_homepage.js"></script>
</body>
</html>