<!doctype html>

<html>
<head>
	<title>Student Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/stu_homepage.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>

<body>
	<div class="container-fluid" id="navbuttons">
		<div class="row">
			<div class="col-xs-2"></div>
			<div class="col-xs-8" align="center">
				<button id="make" class="btn" onclick="makeFunc()">Make appointments</button>
			</div>
			<div class="col-xs-2" id="logoutdiv">
				<img src='images/brownlogout.png' id="logout" onclick="logoutFunc()">
				<!--<button class="btn" id="logout" onclick="logoutFunc()">Log Out</button>-->
			</div>
		</div>
	</div>
	<h1>Welcome, Student!</h1>	
	
	<div class="container">	
		<h2>My Appointments</h2>
		{{#each allapt}}
		<div class="container-fluid" id="appt">
			<div class="information" id="information{{id}}">

				<h4>{{date}} {{time}}</h4>
				Professor: {{professor}}<br>
				Location: {{location}}<br>
				Appointment type: {{type}}<br>
				
				<h5 id="madeby{{id}}">Made by: {{name}}<h5>
				<script>
				if ("{{origowner}}" == "thisuser"){
					document.getElementById("madeby{{id}}").innerHTML = "Made by: You";
				}
				</script>
				<br>
				<button class="apt-delete" type="button">cancel appointment</button>
				
				<br>
			</div>
		</div>	
			{{/each}}
	</div>

	<div id="popCancel" title="Confirm cancel">
		<p><font face="Georgia" size="4">Are you sure to cancel this appointment?</font></p>
		<button id="confirmCancel">Yes, cancel my appointment.</button>
		<button id="noCancel">No, thanks</button>
	</div>
	
	<!--<script src="https://code.jquery.com/jquery.js"></script>-->
	<script src="js/stuFunc.js"></script>
	<script src="js/popup.js"></script>
	<script src="js/stu_homepage.js"></script>
</body>
</html>