<!doctype html>

<html>
<head>
	<title>Student Homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/stu_homepage.css">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="js/stuFunc.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
</head>

<body>
	<div id="header">
		<div class="container-fluid" id="navbuttons">
			<div class="row">
				<div class="col-xs-2">
				</div>
				<div class="col-xs-8" align="center">
					<button id="make" class="btn" onclick="makeFunc()">Make Appointments</button>
				</div>
				<div class="col-xs-2" id="logoutdiv">
					<span class="glyphicon glyphicon-off logouticon" aria-hidden="true" onclick="logoutFunc()"></span>
					<div id="logoutlabel">Logout</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" id="myapt">	
		<h2 align="center">My Appointments</h2>
		{{#if allapt}}
		{{#each allapt}}
		<div class="container-fluid" id="appt">
			<div class="information" id="information{{id}}">
				<h3>{{date}} {{time}}</h3>
				<div class="row">
					<div class="col-xs-6">
						<p>Professor:</p>
						<hr>
						<p>Location:</p>
						<hr>
						<p>Appointment type:</p>
						<hr>
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-12">
								<p>{{professor}}</p>
								<hr>
								<p>{{location}}</p>
								<hr>
								<p>{{type}}</p>
								<hr>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p>Description:</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-10" id="desc">
						<p>{{description}}</p>
					</div>
				</div>
				<hr>
				<div class="row" align="right">
					<div class="col-xs-12">
						<p id="madeby{{id}}">Made by: {{name}}<p>
						<script>
							var email = readCookie("email");
							if ("{{email}}" == email){
								document.getElementById("madeby{{id}}").innerHTML = "Made by: You";
							}
						</script>
					</div>
				</div>
				<div class="row" align="right">
					<div class="col-xs-12">
						<div id="apt-delete{{id}}" style="color: #ffffff;">
							<span class="glyphicon glyphicon-remove-circle delete" aria-hidden="true"></span>
							Cancel Appointment
						</div>
						<div id="drop{{id}}" style="color: #ffffff;">
							<span class="glyphicon glyphicon-remove-circle drop" aria-hidden="true"></span>
							Cancel Appointment
						</div>
						<script>
							var length = 0;
							{{#each owner}}
								length++;
								console.log(length);
							{{/each}}
				
							if (length > 1){
								$('#apt-delete{{id}}').hide();
								$('#drop{{id}}').show();
					
							}
							else {
								$('#drop{{id}}').hide();
								$('#apt-delete{{id}}').show();
					
							}
						</script>
					</div>
				</div>
			</div>
		</div>	
		{{/each}}
		{{else}}
		<div id="empty">You have no active appointments.<p><br>Click on Make Appointments to join an already existing public appointment or create your own.</p></div>
		{{/if}}
	</div>

	<div id="canceloverlay">						
		<div id="canceldiv">
			<br>
			<div class= "row">
				<div class="col-xs-12">
					<h4>Are you sure you wish to cancel this appointment</h4>
				</div>
			</div>
			<br>
         	<div class="row">
         		<div class="col-xs-6" id="aptdate" align="right"></div>
         		<div class="col-xs-6" id="apttime" align="left"></div>
         	</div>
         	<div class="row">
         		<div class="col-xs-6">
         			<button class="smallbtn" id="confirmCancel">Yes, cancel this appointment.</button>
         		</div>
         		<div class="col-xs-6">
         			<button class="smallbtn" id="noCancel"><strong>No, don't cancel this appointment.</strong></button>
    	</div>
	</div>

	<div id="dropoverlay">						
		<div id="dropdiv">
			<br>
			<div class= "row">
				<div class="col-xs-12">
					<h4>Are you sure you wish to cancel this appointment</h4>
				</div>
			</div>
			<br>
         	<div class="row">
         		<div class="col-xs-6" id="aptdate" align="right"></div>
         		<div class="col-xs-6" id="apttime" align="left"></div>
         	</div>
         	<div class="row">
         		<div class="col-xs-6">
         			<button class="smallbtn" id="confirmDrop">Yes, cancel this appointment.</button>
         		</div>
         		<div class="col-xs-6">
         			<button class="smallbtn" id="noDrop"><strong>No, don't cancel this appointment.</strong</button>
    	</div>
	</div>
	
	<script src="js/popup.js"></script>
	<script src="js/stu_homepage.js"></script>
</body>
</html>